tool-bar {
    display: flex;
    align-items: center;
    padding: 1.3em 0.8em;
    justify-content: space-between;
}

tool-bar header {
    font-weight: 600;
    margin-right: 0.61em;
    display: inline;
}

tool-bar header a {
    text-decoration: unset;
    font-family: unset;
    color: unset;
}

tool-bar button, tool-bar input {
    margin-right: 0.5em;
}

tool-bar .controls {
    align-items: center;
    display: flex;
}

tool-bar header {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 1.6em;
    color: #DAA520;
}
